<div class="d-flex flex-col justify-content-center align-items-start gap-5 p-3 m-3 container-fluid w-80 h-75">
    <div class="w-50 overflow-auto h-100">
        <h2>Mission List</h2>
        <div class=" d-flex flex-wrap justify-content-start align-items-start gap-2">
            <div *ngIf="displayData.length === 0">
                <p>No missions available.</p>
            </div>  
            <div *ngFor="let data of displayData;" (click)="selectMission(data)" class="my-2" >
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <img mat-card-avatar src="{{data.links.mission_patch_small}}" width="60" height="60">
                        <mat-card-title>{{data.mission_name}}</mat-card-title>
                        <mat-card-subtitle>Flight #{{data.flight_number}} ({{data.launch_year}})</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
    
    <app-mission-details [mission]="selectedMission" class="w-50 position-sticky m-3"></app-mission-details>
</div>
